@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan-1: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan-1: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
.cb {
  border: 1px solid red;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish-cyan-1);
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  background-color: var(--White);
  width: 80%;
  padding: 2%;
  border-radius: 30px;
}

.card > div {
  width: 49%;
}
.card > div:nth-child(1) {
  margin-right: 1%;
  padding: 1.5%;
  font-size: 1.2rem;
}
.card > div:nth-child(2) {
  margin-left: 1%;
  padding: 3%;
  border-radius: 20px;
}
.card > .bill-entry,
.bill-group,
.tip--group {
  display: flex;
  flex-direction: column;
  color: var(--dark-grayish-cyan-1);
}
.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--White);
  gap: 15px 0;
  margin-top: 10px;
}
.checkbox-list > label {
  width: 31%;
  height: 50px;
}
.checkbox-list > label:not(:last-child) > input {
  width: 31%;
  display: none;
}
.checkbox-list > label > span {
  width: 100%;
  background-color: var(--very-dark-cyan);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  line-height: 50px;
  border-radius: 6px;
  font-weight: 500;
}
input:checked + span {
  background-color: var(--strong-cyan);
}
.people-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: var(--dark-grayish-cyan-1);
  flex-wrap: wrap;
}
.people-group > .people-error-msg {
  color: red;
  display: none;
}
.bill-amount,
.people-count,
.tip-amt {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: var(--light-grayish-cyan-2);
  text-align: right;
  color: var(--very-dark-cyan);
  font-weight: bold;
  font-size: 1rem;
}
.tip-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.tip-amt {
  text-align: center;
  width: 100%;
}
.split-result {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--very-dark-cyan);
  color: var(--White);
  font-weight: 600;
  font-size: 1.25rem;
}
.tip-amt-result,
.total-amt-result {
  width: 100%;
  display: flex;
}
.wrapper,
.value,
.btn-reset {
  width: 50%;
  flex-grow: 1;
}
.wrapper > .desc {
  color: var(--dark-grayish-cyan-1);
}
.value {
  text-align: right;
  font-size: 4rem;
  color: var(--strong-cyan);
  font-weight: 700;
}
.reset {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 700;
  height: 35px;
}
